    <footer>
      <div class="containerFooterInfo">
	<p>© 2021 THE SINGING CAT Limited. All Rights Reserved.<br/>
	  Registered office: 12 Wolverton Gardens, London W6 7DY, UK.<br/>
	  Registered in England No 9479202</p>
	<p>German Office: SingingCat UG,<br/>
	  Schönhauser Allee 152, 10435 Berlin, Germany</p>
	<p><a href="?linkid=cookieLaw">Cookie Law</a></p>
      </div>
      <div class="containerSocial">
	<p>Find us on <a href="https://plus.google.com/u/0/+SingingCatUGBerlin/about" target="_blank">Google +</a></p>
      </div>
    </footer>
  </body>
</html>
