<!DOCTYPE html>
<html class="root">
<head>
<link rel="stylesheet" type="text/css" href="/static/css/singingcat.css"/>
<title>SingingCat - Open IoT as a Service</title>
 <link rel="icon" type="image/ico" href="/static/images/favicon.ico"/>
</head>
  <body class="root">
    <div id="pageheader">
      <a href="?linkid=home" class="home">
        <img src="/static/images/logos/singingcat_logo.png" alt="SingingCatLogo" />
        <p>SINGING CAT - Login</p>
      </a>
      <!--
      <p class="loggedInAs"> You are logged in as: {{username}}</p>
      <nav class="main">
        <ul>
          <li><a href="/sc?linkid=home">Home</a></li>
          <li><a href="/sc?linkid=products">Products</a></li>
          <li><a href="/sc?linkid=tech">Technical</a></li> 
          <li><a href="/sc?linkid=public_repositories">Software</a></li>
          <li><a href="/sc?linkid=contact">Contact</a></li>
          <li><a href="/sc?linkid=about">About</a></li>
	  <li><a href="/sc?linkid=automation">Automate!</a></li>
          <li><a href="/sc?linkid=myDevices">My Devices</a></li>
          <li><a href="/sc?linkid=api">Api</a></li>
          <li><a href="/weblogin/logout">Logout</a></li>
        </ul>
      </nav>
      -->
    </div>
  
