<script src="https://www.google.com/recaptcha/api.js?render={{.SiteKey}}"></script>
  <script>
    function onClick(e) {
	console.log( "onclick() - sitekey: \"{{.SiteKey}}\"\n");
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('{{.SiteKey}}', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
	      console.log("wtf are we doing here? "+token);
	      document.getElementById('g_captcha').value = token;
	      document.getElementById('fid_login').submit();
          });
        });
      }
  </script>
<section class="white">
      	<h2>Log In</h2>
		<p>You can log in here by filling out the little form below.<br/>
		  <a href="/weblogin/forgotPassword">Forgotten your password?</a></p>
		{{if RegistrationEnabled}}
	<p>No account yet? Register <a href="/weblogin/register">here</a></p>
	{{end}}
		  <p><span style="error">{{.Msg}}</span></p>
		<form onsubmit="onClick(event)" method="post" loaded-from="fid_login" id="fid_login" class="scForm" enctype="application/x-www-form-urlencoded">
		  <input type="hidden" name="url" value="{{.Path}}"/>
			<label for="loginInputEmail">Email</label>
			<input size="20" name="email" description="Email" id="loginInputEmail" autofocus="autofocus" type="text" value=""></input>
			<br/>
			<label for="loginInputPassword">Password</label>
			<input size="20" name="password" description="Password" id="loginInputPassword" type="password" value=""></input>
			<br/>
			<label for="save"/>
			<input name="form_submit_Ohg5quei4no2grgeserg" description="dLogin" id="save" type="submit" value="Login"></input>
			<input size="20" name="form_id_Ohg5quei4no2" type="hidden" value="fid_login"/><input name="wfs" type="hidden" value=""/>
    <input type="hidden" id="g_captcha" name="g_captcha" value=""/>
		</form>
    </section>
