<script src="https://www.google.com/recaptcha/api.js?render={{.SiteKey}}"></script>
  <script>
    function onClick(e) {
	console.log( "onclick() - sitekey: \"{{.SiteKey}}\"\n");
        e.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('{{.SiteKey}}', {action: 'submit'}).then(function(token) {
              // Add your logic to submit to your backend server here.
	      console.log("wtf are we doing here? "+token);
	      document.getElementById('g_captcha').value = token;
	      document.getElementById('fid_login').submit();
          });
        });
      }
  </script>
<section class="white">
  <h2>Reset Password</h2>
  <p>You may reset your password here. Once you select "Send", we will verify if we have your emailaddress in our systems, and if we do, we will send you an emaila with further instructions.</p>
  <p><span style="error">{{.Msg}}</span></p>
  <form method="post" loaded-from="fid_login" id="fid_login" class="scForm" enctype="application/x-www-form-urlencoded">
    <label for="loginInputEmail">Email</label>
    <input size="20" name="email" description="Email" id="loginInputEmail" autofocus="autofocus" type="text" value="{{.Email}}"/>
    <br/><p/>
    <label for="save"></label>
    <input name="form_submit_Ohg5quei4no2grgeserg" description="dLogin" id="save" type="submit" value="Send"></input>
    <input type="hidden" name="{{.Weblogin_state_name}}" value="{{.Weblogin_state_value}}"></input>
    <input type="hidden" id="g_captcha" name="g_captcha" value=""></input>
  </form>
<p>  If you did not receive the email, please re-enter your email address. We will email you another link with which you may reset your password.</p>


</section>
